<form [formGroup]="form">

  <div class="centralize">
    <input type="text" placeholder="Insira o seu texto aqui" size="100" formControlName="inputText">
    <button type="submit" (click)="inputText()">Inserir texto</button>
  </div>

  <div class="centralize" (keypress)="eventHandler($event)">


    <div *ngFor="let letter of split()">

      <div [ngClass]="[letter.value == currentLetter && letter.index == position? 'currentLetter' : '', errorRegister.includes(letter.value+letter.index)? 'wrongLetter': '', successRegister.includes(letter.value+letter.index)? 'correctLetter' : '' ]">{{letter.value == ' '? ' ' : letter.value}}</div>


    </div>

  </div>

</form>

